@import "../../global.css";

.portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.portfolio h1{
    font-size: 50px;
}

.portfolio ul{
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}



.container{
   width: 70%; 
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.container .item{
    width: 220px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid rgb(240, 239, 239);
    margin:  10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;
}

.item h3{
    position: absolute;
    font-size: 20px;

}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.item:hover{
    background-color: var(--mainColor);
}

.item img:hover{
    opacity: 0.2;
    z-index: 0;
}
