@import "../../global.css";

.portfolioList{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.portfolioList .active{
    background-color: var(--mainColor);
    color: white;
}

@media screen and (max-width: 768px) {
    .portfolioList{
        margin-right: 20px;
        margin-left: 4px;
    }
}